# Default - catch everything
* @v-tori @KPMcDonough49 @swonghb

# Folder-specific owners
global/ @v-tori @KPMcDonough49 @swonghb
data/ @v-tori @KPMcDonough49 @swonghb
domains/ @v-tori @KPMcDonough49 @swonghb @sammyhalabi

# Domain-specific owners
domains/hrm/ @sammyhalabi @v-tori
